@using System.Threading
@using Soenneker.Blazor.Tippy.Abstract
@using Soenneker.Blazor.Tippy.Configuration
@using Soenneker.Extensions.CancellationTokens

@inject ITippyInterop TippyInterop

@inherits Soenneker.Quark.CoreCancellableComponent

<div id="@Id" @attributes="Attributes"></div>

@code {
    [Parameter]
    public TippyConfiguration Configuration { get; set; } = new();

    [Parameter]
    public override string? Id { get; set; } = $"tippy-{Guid.NewGuid().ToString()}";

    protected override async Task OnInitializedAsync()
    {
        await TippyInterop.Initialize(Id!, Configuration, CancellationToken);
    }

    public async ValueTask Show(CancellationToken cancellationToken = default)
    {
        CancellationToken linked = CancellationToken.Link(cancellationToken, out CancellationTokenSource? cts);

        using (cts)
            await TippyInterop.Show(Id!, linked);
    }

    public async ValueTask Hide(CancellationToken cancellationToken = default)
    {
        CancellationToken linked = CancellationToken.Link(cancellationToken, out CancellationTokenSource? cts);

        using (cts)
            await TippyInterop.Hide(Id!, linked);
    }

    public async ValueTask Destroy(CancellationToken cancellationToken = default)
    {
        CancellationToken linked = CancellationToken.Link(cancellationToken, out CancellationTokenSource? cts);

        using (cts)
            await TippyInterop.Destroy(Id!, linked);
    }
}
